html, body{
  margin: 0px;
  height: 100%;
}

body{
  background-color: #172439;
  color: rgb(209,213,219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.bookDisplay{
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  
}

.bookContainer{
  border: 1px #dddddd solid;
  border-radius: 16px;
  padding: 16px;
  margin: 32px;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookContainer ul{
  margin: 0;
  padding: 0;
}



li{
  list-style: none;
}
